<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        {{ ch.title }}
        {% if request.user.is_admin %}
        <a href="{% url 'challenge:edit' ch.pk %}">
            <span class="glyphicon glyphicon-cog pull-right" aria-hidden="true"></span>
          </a>
        {% endif %}
    </h3>
  </div>
  <div class="panel-body">
      {{ ch.description|truncatechars:120 }}
      <span class="pull-right">
          <a href="{% url 'challenge:solutions' ch.pk %}" class="btn btn-success btn-md" role="button">Show solutions</a>
          <a href="{% url 'challenge:solve' ch.pk %}" class="btn btn-primary btn-md" role="button">Solve!</a>
      </span>
  </div>
</div>
