{% extends 'main/base.html' %}
{% load staticfiles %}

{% block header_big %}
Challenges
{% endblock %}

{% block header_small %}
see something you like?
{% endblock %}

{% block main_content %}
  {% if request.user.is_admin %}
  <p>
    <a href="{% url 'challenge:add' %}" class="btn btn-primary btn-md" role="button">Add new challenge</a>
  </p>
  {% endif %}

    {% for ch in object_list %}

      {% include 'challenges/_challenge_list_element.html' %}

    {% empty %}

      Nothing found

    {% endfor %}

{% endblock %}
