{% extends 'main/base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'challenges/css/codemirror.css' %}">
{% endblock %}

{% block page_body %}
<div class="container">
 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        Challenge description
    </h3>
  </div>
  <div class="panel-body">
     {{ challenge.description|linebreaksbr }}
 </div>
 </div>

 <form id="challenge_form" action="" method="post"> {% csrf_token %}
   {{ form.as_p }}
   <p>
     <div class="alert alert-success js_tests_passed" role="alert" style="display: none;">
         Tests passed! You can now refactor your code (if needed) and submit you solution.
     </div>
     <div class="alert alert-danger js_tests_failed" role="alert" style="display: none;">
         Tests failed! <span class="js_error_msg"></span>
     </div>
   </p>
   <a id="run_code" class="btn btn-primary btn-md" role="button">Test my solution</a>
 </form>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'challenges/js/codemirror.js' %}"></script>
<script src="{% static 'challenges/js/codemirror_python.js' %}"></script>
<script src="{% static 'challenges/js/codemirror_matchbrackets.js' %}"></script>

<script type="text/javascript">

  editor = CodeMirror.fromTextArea(document.getElementById("id_code"), {
    lineNumbers: true,
    mode: "python",
    indentUnit: 4,
    matchBrackets: true
  });

  editor.setValue('{{ challenge.initial_code|escapejs }}');

  var csrfToken = '{{ csrf_token }}';
  var challengeId = '{{ challenge.pk }}';
  var userId = '{{ request.user.id }}';
  var tests = '{{ tests|escapejs }}';

</script>

<script src="{% static 'challenges/js/run_code.js' %}"></script>
{% endblock %}
