{% extends 'main/base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'challenges/css/codemirror.css' %}">
{% endblock %}

{% block page_body %}
<div class="container">
 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        Challenge description
    </h3>
  </div>
  <div class="panel-body">
     Desc: {{ challenge.description|linebreaksbr}}
 </div>
 </div>

 <form action="" method="post"> {% csrf_token %}
   {{ form.as_p }}
   <a id="run-code" class="btn btn-primary btn-md" role="button">Run</a>
   <input id="submit_solution" type="submit" class="btn btn-primary btn-md" value="Submit" style="display: none;"/>
   <div id="test_result" style="display: none;">...</div>
 </form>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'challenges/js/codemirror.js' %}"></script>
<script src="{% static 'challenges/js/codemirror_python.js' %}"></script>
<script src="{% static 'challenges/js/codemirror_matchbrackets.js' %}"></script>

<script src="https://js.pusher.com/2.2/pusher.min.js"></script>

<script type="text/javascript">

  editor = CodeMirror.fromTextArea(document.getElementById("id_code"), {
    lineNumbers: true,
    mode: "python",
    indentUnit: 4,
    matchBrackets: true
  });

  editor.setValue('{{ challenge.initial_code|escapejs }}');

  var csrfToken = '{{ csrf_token }}';
  var challengeId = '{{ challenge.pk }}';
  var userId = '{{ request.user.id }}';
  var channelName = '{{ channel_name }}';

</script>

<script src="{% static 'challenges/js/run_code.js' %}"></script>
{% endblock %}
