{% extends 'main/base.html' %}
{% load staticfiles %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'challenges/css/highlightjs_default.css' %}">
{% endblock %}

{% block main_content %}

  {% for solution in solutions %}
    {% include 'challenges/_solution_template.html' %}
  {% empty %}
    Solve this challenge to see other solutions!
  {% endfor %}

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'challenges/js/highlight.pack.js' %}"></script>

<script type="text/javascript">
  hljs.initHighlightingOnLoad();

  var userId = '{{ request.user.id }}';
  var csrfToken = '{{ csrf_token }}';
</script>

<script src="{% static 'challenges/js/vote.js' %}"></script>
{% endblock %}
